<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
        <%-scripts%>
        <%-blocks.footer%>
    </footer>
  </body>
</html>